body {
    background-color: var(--color-1);
}

:root {
    --color-1: #CCEBF1;
    --color-2: #DAF3F8;
    --color-3: #EEFCFF;
    --color-4: #FFFFFF;
    --color-5: #000000;
}

p {
    margin-bottom: 0rem;;
}

.caroussel-container {
    height: 20rem;
    overflow: hidden;
}

@media only screen and (max-width: 1199px) {
    .caroussel-container {
        height: 265px;
        overflow: hidden;
    }
}

@media only screen and (max-width: 991px) {
    .caroussel-container {
        height: 300px;
        overflow: hidden;
    }
}

@media only screen and (max-width: 767px) {
    .caroussel-container {
        height: 215px;
        overflow: hidden;
    }
}

@media only screen and (max-width: 532px) {
    .caroussel-container {
        height: 160px;
        overflow: hidden;
    }
}

@media only screen and (max-width: 420px) {
    .caroussel-container {
        height: 160px;
        overflow: hidden;
    }

    .caroussel-container .carousel-item{
        height: 100%;
    }

    .caroussel-container .carousel-item img{
        height: 100%;
        width: auto;
    }
}

.project-img-carousel {
    transition-duration: 0.3s;
    transition-property: scale;
    transition-timing-function: ease-out;
}

.project-img-carousel:hover {
    scale: 1.1;
}

.info-container {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.info-title {
    transition-duration: 0.5s;
}

.info-title ul {
    margin-bottom: 0;
}

.project {
    background-color: var(--color-3);
    border-radius: 0.25rem;
    box-shadow: 0 .125rem .25rem rgba(0,0,0,.075)!important;
}


.project-img {
    transition-duration: 0.3s;
    transition-property: scale, box-shadow;
    transition-timing-function: ease-out;
}

.project-img:hover {
    scale: 1.05;
    box-shadow: 0 0 8px #858585;
}

.btn-credential {
    color: var(--color-5);
    background-color: var(--color-1);
    border-color: var(--color-1);
}

.btn-credential:hover {
    color: var(--color-5);
    background-color: #b7d2d8;
    border-color: var(--color-1);
}

.btn-info {
    color: #FFFF;
    background-color: #0dcaf0;
}

.btn-info:hover {
    color: #FFFF;
    background-color: #0cb2d3;
}

footer {
    display: block;
}

.footer {
    background-color: var(--color-2);
    text-align: center;
    padding: 2rem;
    color: var(--color-5);
}