:root {
    --color-1: #CCEBF1;
    --color-2: #DAF3F8;
    --color-3: #EEFCFF;
    --color-4: #FFFFFF;
    --color-5: #000000;
    --technology-badge: var(--bs-primary);
}

:root.dark-mode {
    --color-1: #000000;
    --color-2: #3282B8;
    --color-3: rgb(51, 57, 63);
    --color-4: #BBE1FA;
    --color-5: #000000;
    --technology-badge: var(--bs-info);
}

body {
    background-color: var(--color-1);
}

body, .card, .navbar, .footer, .project, .switch {
    transition-duration: 0.3s;
    transition-property: background-color;
    transition-timing-function: ease-out;
}

h1 {
    font-size: 1.5rem;
}

h2 {
    font-size: 1rem;
}

h1, h2, h3, h4, h5, h6, span, p, .info-title {
    transition-duration: 0.3s;
    transition-property: color;
    transition-timing-function: ease-out;
}

a {
    text-decoration: none;
}

p {
    margin-bottom: 0rem;
}

.transition-visible, .transition-invisible {
    transition-duration: 0.6s;
    transition-property: opacity, transform;
    transition-timing-function: ease-in-out;
}

.transition-slide-left {
    animation: 0.7s ease-in-out 0s 1 slideInFromLeft;
}

.transition-slide-right {
    animation: 0.7s ease-in-out 0s 1 slideInFromRight;
}

@keyframes slideInFromLeft {
    0% {
        opacity: 0;
        transform: translateX(-60px);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes slideInFromRight {
    0% {
        opacity: 0;
        transform: translateY(60px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.lighted-text {
    color: #CCEBF1;
}

.switch {
    background-color: #34305B;
    border-radius: 1000px;
    border: none;
    position: relative;
    cursor: pointer;
    display: flex;
    outline: none;
    align-items: center;
    justify-content: center;
    padding: 0 5px;
    height: min-content;
    width: 3.7rem;
}

.switch::after {
    content: "";
    display: block;
    width: 30px;
    height: 30px;
    position: absolute;
    background: #F1F1F1;
    top: 0;
    left: 0;
    border-radius: 100px;
    box-shadow: 0px 0px 2px 2px rgba(0,0,0,.2);
    transition: all 0.3s ease;

}

.switch.active {
    background: #FFF;
    color: #333;
}

.switch.active::after {
    transform: translate(100%, 0);
}

.switch span {
    width: 30px;
    height: 30px;
    line-height: 30px;
    display: block;
    background: none;
    color: #fff;
    user-select: none;
}

.switch.active span {
    color: #333;
}

.caroussel-container {
    height: 20rem;
    overflow: hidden;
}

@media only screen and (max-width: 1199px) {
    .caroussel-container {
        height: 265px;
        overflow: hidden;
    }
}

@media only screen and (max-width: 991px) {
    .caroussel-container {
        height: 300px;
        overflow: hidden;
    }

    @keyframes slideInFromLeft {
        0% {
            opacity: 0;
            transform: translateY(60px);
        }
        100% {
            opacity: 1;
            transform: translateY(0);
        }
    }
    
    @keyframes slideInFromRight {
        0% {
            opacity: 0;
            transform: translateY(60px);
        }
        100% {
            opacity: 1;
            transform: translateY(0);
        }
    }
}

@media only screen and (max-width: 767px) {
    .caroussel-container {
        height: 215px;
        overflow: hidden;
    }

    .project-info {
        display: flex;
        flex-direction: column-reverse;
    }
}

@media only screen and (max-width: 532px) {
    .caroussel-container {
        height: 160px;
        overflow: hidden;
    }
}

@media only screen and (max-width: 420px) {
    .caroussel-container {
        height: 160px;
        overflow: hidden;
    }

    .caroussel-container .carousel-item{
        height: 100%;
    }

    .caroussel-container .carousel-item img{
        height: 100%;
        width: auto;
    }
}

.project-img-carousel {
    object-fit: cover;
    transition-duration: 0.3s;
    transition-property: scale;
    transition-timing-function: ease-out;
}

.project-img-carousel:hover {
    scale: 1.1;
}

.info-container {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.info-title ul {
    margin-bottom: 0;
}

.project {
    background-color: var(--color-3);
    border-radius: 0.25rem;
    box-shadow: 0 .125rem .25rem rgba(0,0,0,.075)!important;
}

.project-img {
    transition-duration: 0.3s;
    transition-property: scale, box-shadow;
    transition-timing-function: ease-out;
}

.project-img:hover {
    scale: 1.05;
    box-shadow: 0 0 8px #858585;
}

.btn-credential {
    color: var(--color-5);
    background-color: var(--color-2);
    border-color: var(--color-2);
}

.btn-credential:hover {
    color: var(--color-5);
    background-color: #b7d2d8;
    border-color: var(--color-2);
}

.btn-info {
    color: #FFFF;
    background-color: #0dcaf0;
}

.btn-info:hover {
    color: #FFFF;
    background-color: #0cb2d3;
}

.tech-name {
    color: var(--technology-badge);
    padding-left: 0;
}

footer {
    display: block;
}

.footer {
    background-color: var(--color-2);
    text-align: center;
    padding: 2rem;
    color: var(--color-5);
}